[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
datasets = "*"
accelerate = "*"
sentencepiece = "*"
evaluate = "*"
scikit-learn = "*"
tqdm = "*"
plotly = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.11"
